In [ ]:
f = lambda x, y: x * y

In [ ]:
f(3, 5)

In [ ]:
a = [1,2,3,4,5]
a[::-1]

In [ ]:
from random import shuffle

In [ ]:
shuffle(a)
print(a)

In [ ]:
import random

In [ ]:
a = random.random()
print(a)

In [ ]:
random.randrange(10, 20)

In [ ]:
random.uniform(1, 5)

In [ ]:
random.normalvariate(10, 3)

In [ ]:
l = range(1, 100)
print(l)

In [ ]:
a = random.sample(l, 5)
print(a)

In [ ]:
for i in range(20):
    print(i)

In [ ]:
import pickle   
# for serializing and deserializing data. You could dump and load objects (list, dict, etc.) as they are in binary format

In [ ]:
my_list = ['ehsan', 'elham', 'hamid']
with open('pickle_test.txt', 'wb') as fl:
    pickle.dump(my_list, fl)

In [ ]:
with open('file_test.txt', 'w') as writer:
    writer.write(','.join(my_list))

In [ ]:
with open('pickle_test.txt', 'rb') as fl:
    new_list = pickle.load(fl)

In [ ]:
type(new_list)

In [ ]:
dic = {'name': 'ehsan', 'age': 18, 'sex': 'male', 'year_of_birth': 1984}
with open('pickle_test_2.txt', 'wb') as fh:
    pickle.dump(dic, fh)

In [ ]:
with open('pickle_test_2.txt', 'rb') as fh:
    new_dic = pickle.load(fh)

In [ ]:
new_dic

In [ ]:
type(new_dic)

In [ ]:
import csv

In [ ]:
reader = csv.reader(open('sample.csv', 'r'), delimiter=',')

In [ ]:
for row in reader:
    print(row)

In [ ]:
# with generators, we could define a function that behaves like an iterator
def csv_reader(file_name):
    for row in open(file_name, 'r'):
        yield row

In [ ]:
reader = csv_reader('sample.csv')

In [ ]:
for row in reader:
    print(row)

In [ ]:
def count_to(m):
    n = 0
    while n <= m:
        yield n # if we used return, the function would stop after the first iteration
        n += 1

In [ ]:
for i in count_to(5):
    print(i)

In [ ]:
name = 'ehsan'
name.capitalize()

In [ ]:
family = 'moradi'
family.upper()

In [ ]:
'''
j = 0
for i in range(10, 20):
    j += 1
    print(i)
'''

In [ ]:
lst = [10, 20, 25, 40]
if 50 in lst:
    print('yes')
else:
    print('no')

In [ ]:
a = 10
b = 10.
if a is b:
    print('yeap!')
else:
    print('no')

In [ ]:
a = 10
b = 10.
print('yepp!' if a is b else 'nope!')

In [ ]:
form = dict(name='ehsan', age=18, gender='male', employed=True, height=1.85)

In [ ]:
length = 1.85
gender = 'female'
decision = True if (length > 1.75 and gender == 'male') else False if length < 1.6 else 'N/A'
decision

In [ ]:
def my_func(x, y, *args, **kwargs):
    if args:
        print('some optional arguments are passed!')
    if kwargs:
        if 'gamma' in kwargs:
            print('gamma parameter is passed!')
        else:
            print('an unknown parametr is passed')
    return x * y

In [ ]:
my_func(5, 7, 10, beta=1.5)

In [ ]:
name = 'ehsan moradi'
lst = [10, 12, 15, 21, 80]
print(len(name), len(lst))

In [1]:
import re

In [ ]:
str_1 = 'a  b      c  d      e              f'
lst = re.split(' +', str_1)
lst

In [ ]:
str_1.split()

In [ ]:
str_1 = 'a  b      c  d      e              f'
lst = re.split('\s+', str_1)    # split based on whitespace
lst

In [ ]:
lst = re.findall('\S+', str_1)  # find all non-whitespace elements
print(lst)

In [ ]:
result = re.sub('\s+', ' ', str_1)
result

In [2]:
str_2 = 'ehsan is a good person. He is trying to thrive in Canada!'
result = re.sub('is', 'was', str_2)
result

'ehsan was a good person. He was trying to thrive in Canada!'

In [3]:
str_2 = 'ehsan is a good person. He is trying to thrive in Canada! is it that bad?'
result = re.subn('is', 'was', str_2)
result

('ehsan was a good person. He was trying to thrive in Canada! was it that bad?',
 3)

In [ ]:
name = 'Ehsan Moradi'
print(name[3:])
print(name[:-2])

In [ ]:
import os

In [ ]:
os.remove('pickle_test.txt')

In [ ]:
os.listdir('./')

In [ ]:
a = [10, 14, 20, 23, 43, 12]

In [ ]:
a.remove(10)
a

In [ ]:
a.pop(2)
a

In [ ]:
a.append(45)
a

In [ ]:
a.insert(4, 33)

In [ ]:
a.extend([99,98,97])

In [ ]:
from random import randint

In [ ]:
class Employee:
    def __init__(self, given_name, family_name, age):
        self.given_name = given_name
        self.family_name = family_name
        self.age = age
    def year_of_death(self):
        rnd = randint(10, 30)
        return self.age + rnd

In [ ]:
ehsan = Employee(given_name='Ehsan', family_name='Moradi', age=36)

In [ ]:
type(ehsan)

In [ ]:
ehsan.age

In [ ]:
ehsan.year_of_death()

In [ ]:
class Empty():
    pass

In [ ]:
a = Empty()
a.name = 'Ehsan'
a

In [ ]:
a.name

In [ ]:
def stars(n):
    for i in range(n):
        print(' ' * (n - i) + '*' * (2 * i + 1) + ' ' * (n - i))
stars(10)

In [ ]:
def fibonacci(n):
    c = 0
    i = [0, 1]
    while c < n:
        j = sum(i)
        print(j)
        i[0], i[1] = i[1], j
        c += 1
fibonacci(10)

In [6]:
fib = lambda n: 1 if n < 2 else fib(n - 1) + fib(n - 2)
[fib(i) for i in range(10)]

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [ ]:
10 % 3

In [ ]:
def is_prime(n):
    c = 0
    for i in range(1, n + 1):
        if n % i == 0:
            c += 1
    return True if c == 2 else False

In [ ]:
is_prime(19)

In [ ]:
def is_palindrome(word):
    word = word.lower()
    reverse = word[::-1]
    return True if word == reverse else False

In [ ]:
is_palindrome('Ette')

In [ ]:
def count_capital_letters(path):
    with open(path, 'r') as fh:
        text = fh.read()
        cnt = 0
        for char in text:
            if char.isupper():
                cnt +=1 
        return cnt

In [ ]:
count_capital_letters('test.txt')

In [ ]:
sum(1 for char in open('test.txt', 'r').read() if char.isupper())

In [ ]:
list = [10, 5, 15, 45, 1, 2, 17]
list.sort()
list

In [ ]:
list = ['ali', 'ehsan', 'john', 'ahmad', 'bob']
sorted(list)

In [8]:
dic = {0: 'ehsan', 2: 'hosein', 3: 'jack', 4: 'barbara'}

In [11]:
sorted(dic.items())

[0, 2, 3, 4]

In [ ]:
a = [1, 2, 3]
b = [4, 5, 6]
a, b = b, a

In [ ]:
l = [1, 2, 3, 4, 5]
output = [x for x in l if x > 2]

In [ ]:
func = lambda x, y: x * y
func(10, 5)

In [ ]:
a = 100
a_str = str(a)
type(a_str)

In [ ]:
float("100.2")

In [ ]:
import random
a = random.randint(0, 100)
b = random.random()
c = random.randrange(3, 4)
print(a, b, c)

In [ ]:
text = 'How do you know if I was a dancer?'
text.split()

In [ ]:
import re
text = 'How do 3 people in the list could kill 4 other out of it?'
re.split('[0-9]', text) # use numbers as split characters

In [ ]:
text = ' How many words with only 3 letters are in this short sentence? please say for sure.'
re.findall(r'\b\w{3}\b', text)  # find words with only 3 characters

In [ ]:
re.findall(r'\b(\w{1,3}|\w{6,})\b', text)   # find words with 1 to 3 or words with more than 6 characters

In [ ]:
[word for word in text.split() if len(word) == 3]   # this could be done without regex as well

In [ ]:
import numpy as np
lst = [[10, 1], [20, 2], [30, 3], [40, 4]]
arr = np.array(lst)
arr

In [13]:
# import itertools
keys = ['name', 'age', 'sex', 'height']
values = [44, 35, 10, 180]
dic = {i:j for i, j in zip(keys, values)}
dic

{'name': 44, 'age': 35, 'sex': 10, 'height': 180}

In [ ]:
type(dic)

In [14]:
sorted(dic.items())

[('age', 35), ('height', 180), ('name', 44), ('sex', 10)]

In [ ]:
sorted(dic.items(), key=lambda x: x[1])

In [ ]:
text = 'Ehsan is a good python programmer'
print('bad' in text)

In [16]:
import pandas as pd

In [ ]:
lst = [[10, 'ehsan', 'male'], [15, 'andy', 'female']]
cols = ['age', 'name', 'gender']
df = pd.DataFrame(lst, columns=cols)

In [ ]:
df

In [ ]:
dic = {'name': ['ehsan', 'andy', 'jane'], 'age': [10, 20, 30]}
df = pd.DataFrame(dic)
df

In [ ]:
df.transpose()

In [17]:
df = pd.read_csv('sample.csv')
df.head()

,admission_id,test_name,test_code,result_unit,result_value,result_date,result_time
0,4416,Albumin,ALB,g/dL,4.1,2003-08-19,02:25
1,4636,Platelet Count,PLT,E9/L,295.0,2012-02-05,01:42
2,8041,Hemoglobin,RBC,g/L,165.4,2004-04-18,08:05
3,7384,Chloride plasma,CLPL,mmol/L,193.0,2000-04-04,14:55
4,2604,Albumin,ALB,g/dL,6.0,2008-02-01,11:30

In [ ]:
df.tail()

In [18]:
df_sample = df.sample(10)

In [ ]:
df_sample.to_csv('sample_10.csv')

In [ ]:
col = df_sample['test_name']
type(col)

In [ ]:
cols = df_sample[['test_name', 'test_code']]
cols

In [ ]:
df_sample.iloc[3]

In [ ]:
df_sample.iloc[0:4]

In [ ]:
df_sample[['test_name', 'test_code']].iloc[4:7]

In [ ]:
df_sample.iloc[[1, 3, 5, 6]]

In [ ]:
df_sample['result_value'].median()

In [ ]:
df_sample['result_value'].mean()

In [ ]:
df_sample['result_value'].std()

In [ ]:
df_sample['test_code'].unique()

In [19]:
df_sample['test_code'].value_counts()

ALB    6
RBC    2
PLT    2
Name: test_code, dtype: int64

In [ ]:
for key, value in df_sample.groupby('test_code'):
    print(key, value)

In [ ]:
df.value_counts()

In [ ]:
pd.DataFrame({'cnt': df.groupby(['test_name']).size()}).reset_index()

In [ ]:
df.groupby('test_name')['result_time'].agg([min, max])

In [20]:
df.groupby('test_name')['result_time'].agg('count')

test_name
Albumin               1463
Bicarbonate plasma     142
Chloride plasma        180
Creatinine plasma      164
Hemoglobin             919
Platelet Count         314
Potassium plasma       146
Sodium plasma          140
Urea plasma            141
Name: result_time, dtype: int64

In [21]:
df.groupby('test_name')['test_name'].size()

test_name
Albumin               1463
Bicarbonate plasma     142
Chloride plasma        180
Creatinine plasma      164
Hemoglobin             919
Platelet Count         314
Potassium plasma       146
Sodium plasma          140
Urea plasma            141
Name: test_name, dtype: int64

In [ ]:
df.groupby('test_name').get_group('Albumin')

In [ ]:
df.groupby('test_name')['result_value'].agg([min, max, sum])

In [ ]:
df['result_value'].describe()

In [ ]:
df.dtypes

In [ ]:
df.head()

In [ ]:
df.drop(['result_date'], axis=1, inplace=True)

In [ ]:
df.head()

In [ ]:
df_t = df.transpose()

In [ ]:
df_t.drop(['result_value'], axis=0, inplace=True)

In [ ]:
df = pd.read_csv('sample.csv')

In [ ]:
df_sub = df[['test_name', 'result_value']]
df_sub

In [ ]:
df_sub = df_sub.rename(columns={'test_name': 'experiment_title', 'result_value': 'result'})

In [ ]:
df_sub.sort_values(by=['experiment_title', 'result'])

In [ ]:
df_sub['result'].sort_values(ascending=False)

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
sns.lineplot(data=df_sub['result'])

In [ ]:
sns.scatterplot(data=df_sub['result'])

In [ ]:
df.head()

In [ ]:
df_sample = df.sample(100)

In [ ]:
sns.scatterplot(x=df_sample['admission_id'], y=df_sample['result_value'])

In [ ]:
df_freq = df_sample.groupby(['test_name'], as_index=False)['test_name'].agg(['count'])

In [ ]:
df_freq.reset_index(inplace=True)

In [ ]:
sns.barplot(x=df_freq['test_name'], y=df_freq['count'])
plt.xticks(rotation=90)
plt.tight_layout()

In [ ]:
df_sample.reset_index(inplace=True)

In [ ]:
df_sample.head()

In [ ]:
sns.heatmap(df_sample.corr())

In [ ]:
ax = sns.displot(df['test_name'])
plt.xticks(rotation=90)
plt.tight_layout()

In [ ]:
sns.distplot(a=df['result_value'], hist=True, kde=True)

In [ ]:
ax1 = sns.lineplot(data=df[:50]['result_value'], color='red')
ax1.set(xlabel='Time (sec)')
ax1.legend(['result_values'])
ax2 = ax1.twinx()
ax2 = sns.lineplot(data=df[:50]['admission_id'], color='green')
ax2.legend(['admission_id'])

In [22]:
df = pd.read_csv('books.csv')
df.head()

,Identifier,Edition Statement,Place of Publication,Date of Publication,Publisher,Title,Author,Contributors,Corporate Author,Corporate Contributors,Former owner,Engraver,Issuance type,Flickr URL,Shelfmarks
0,206,NaN,London,1879 [1878],S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.,"FORBES, Walter.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12641.b.30.
1,216,NaN,London; Virtue & Yorston,1868,Virtue & Co.,All for Greed. [A novel. The dedication signed...,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12626.cc.2.
2,218,NaN,London,1869,"Bradbury, Evans & Co.",Love the Avenger. By the author of “All for Gr...,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12625.dd.1.
3,472,NaN,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.","Appleyard, Ernest Silvanus.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 10369.bbb.15.
4,480,"A new edition, revised, etc.",London,1857,Wertheim & Macintosh,"[The World in which I live, and my place in it...","A., E. S.","BROOME, John Henry.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 9007.d.28.

In [ ]:
df.describe()

In [ ]:
df.dtypes

In [ ]:
df.info()

In [23]:
df.isnull().sum()

Identifier                   0
Edition Statement         7514
Place of Publication         0
Date of Publication        181
Publisher                 4195
Title                        0
Author                    1778
Contributors                 0
Corporate Author          8287
Corporate Contributors    8287
Former owner              8286
Engraver                  8287
Issuance type                0
Flickr URL                   0
Shelfmarks                   0
dtype: int64

In [ ]:
df['Date of Publication'].fillna(0, inplace=True)

In [ ]:
result = pd.DataFrame({'count': df.groupby('Date of Publication', )['Date of Publication'].agg('count')})
result.sort_values(by='count', ascending=False)

In [ ]:
df['Date of Publication'] = df['Date of Publication'].astype('string')

In [ ]:
df.info()

In [ ]:
import re
for index, row in df.iterrows():
    first_date = re.findall(r'[0-9]+', row['Date of Publication'])[0]
    df['Date of Publication'].loc[index] = first_date

In [ ]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler

In [ ]:
scaler = MinMaxScaler()
scaled = scaler.fit_transform(np.array(df['result_value']).reshape(-1, 1))
df['result_value_scaled'] = scaled

In [ ]:
# from datetime import datetime, timedelta
df['datetime'] = df['result_date'] + ' ' + df['result_time']
df['datetime']= pd.to_datetime(df['datetime'])

In [ ]:
df['datetime'].iloc[100].month

In [ ]:
dt = datetime.strptime('2014-01-01 12:00', '%Y-%m-%d %HH:%MM')
df[df['datetime'] > dt]

In [ ]:
df['datetime'].iloc[3572].strftime('%Y,%m,%d %HH:%MM')

In [ ]:
delta = df['datetime'].iloc[3572] - df['datetime'].iloc[5]
delta.days

In [ ]:
dt += timedelta(days=10, hours=3)
dt

In [ ]:
datetime.now()

In [ ]:
# fibonacci in one line
g = lambda f: f if f < 2 else g(f - 1) + g(f - 2)
[g(i) for i in range(15)]

In [ ]:
import pandas as pd
df_diabetes = pd.read_csv('indians-diabetes.csv')
df_diabetes.head()

In [ ]:
import seaborn as sns
sns.heatmap(df_diabetes.corr())

In [ ]:
df_diabetes.info()

In [ ]:
df_diabetes.isnull().sum()

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import MinMaxScaler, StandardScaler

X = df_diabetes[['GLUCOSE_CONC', 'MASS_INDEX', 'AGE']]
y = df_diabetes[['CLASS']]
scaler_X = MinMaxScaler().fit(X)
scaler_y = MinMaxScaler().fit(y)
X_scaled = scaler_X.transform(X)
y_scaled = scaler_y.transform(y)
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y_scaled, test_size=.2, shuffle=True, random_state=33)
# model = LogisticRegression().fit(X_train, y_train)
# model = DecisionTreeClassifier().fit(X_train, y_train)
model = GradientBoostingClassifier(learning_rate=.1, n_estimators=100).fit(X_train, y_train)
# model = RandomForestClassifier(n_estimators=100).fit(X_train, y_train)
y_pred = model.predict(X_test)
accuracy_score(y_test, y_pred)

In [ ]:
n_friends = 'four'
salary = 100000
text = 'I have {0} friends and I belive I could make more than ${1} money per year.'.format(n_friends, salary)
text = 'I have %s friends and I belive I could make more than $%d money per year.' % (n_friends, salary)
text

In [ ]:
a = [1, 2, 3]
b = a
c = [1, 2, 3]
a == c

In [ ]:
from datetime import datetime

# use of decorators
def logging(func):
    def logging_function_called():
        print('{0} is executed at time: {1}'.format(func, datetime.now().strftime(r'%Y-%m-%d %H:%M')))
        func()
    return logging_function_called

@logging
def my_name():
    print('my name is Ehsan')

@logging
def friends_list():
    print('Ali, Hasan, John')

my_name()
friends_list()

In [ ]:
class Car:
    def __init__(self, color, speed):
        self.color = color
        self.speed = speed

    def repair(self):   # instance method includes self as parameter and changes the state of the instance
        pass

    @staticmethod   # neither changes the instance state nor the class
    def weather():
        print('weather is nice!')

    @classmethod    # modifies the class
    def set_transmission(cls, trans_type):
        cls.trans_type = trans_type
        print(f'transmission type is set to ${trans_type}')

my_car = Car(color='blue', speed=60)
my_car.speed

In [ ]:
a = [1, 2, 3]
def increase(x):
    return x + 2
b = [x for x in map(increase, a)]
b

In [ ]:
a = [1, 2, 3, 4, 6, 7]
def fil(x):
    if x % 2 == 0:
        return True
    return False
[x for x in filter(fil, a)]

In [ ]:
# reverse list
li = ['a', 'b', 'c']
li[::-1]

In [ ]:
# string multiplication
name = 'ehsan'
(name + ' ') * 4

In [ ]:
li = ['ehsan' for i in range(4)]
' '.join(li)

In [ ]:
a = [1, 2, 3]
a * 3

In [ ]:
a = [1,2 , 3]
b = [4, 5, 6]
a + b

In [ ]:
# shallow copy
c = a
c

In [ ]:
a.append(4)
c

In [ ]:
# deep copy
import copy
d = copy.deepcopy(a)
d

In [ ]:
a.append(5)
d

In [ ]:
# join two numpy arrays
import numpy as np
a = np.array([1, 2, 3])
b = np.array([3, 4, 5])
np.concatenate((a, b))

In [ ]:
# mutable -> list, dictionary
# immutable -> int, float, boolean, string, tuple

In [ ]:
a = 10.23
round(a, 1)

In [ ]:
a = [1,2,3,4,5,6,7,8]
a[:2]

In [ ]:
a[4:]

In [ ]:
a[2:5]

In [ ]:
a[1::2]

In [ ]:
import pickle
dic = dict(name='ehsan', age=35)
with open('test_pickle.txt', 'wb') as fh:
    pickle.dump(dic, fh)

In [ ]:
with open('test_pickle.txt', 'rb') as fh:
    dic2 = pickle.load(fh)
type(dic2)

In [ ]:
lst = [1, 2, 2, 3, 5, 3, 4, 6, 7, 7]
list(set(lst))

In [ ]:
15 in lst

In [ ]:
a = [1, 2, 3]
b = [4, 5, 6]
a.append(b)
a

In [ ]:
a = [1, 2, 3]
b = [4, 5, 6]
a.extend(b)
a

In [ ]:
# how to sort a list
a = [5, 7, 1, 4, 5, 10]
sorted(a, reverse=True)

In [ ]:
# how to sort a dictionary
dic = {'name': 'ehsan', 'age': 15, 'height': 180, 'band': 'Metallica', 'married': True}
sorted(dic.items())

In [ ]:
# convert two list to a tuple list
a = ['ehsan', 'john', 'sarah']
b = [30, 40, 15]
[(name, age) for name, age in zip(a, b)]

In [ ]:
# how a class inherits from another class
class Car():
    def __init__(self, speed, color):
        self.speed = speed
        self.color = color
    def drive(self):
        print('Car started driving ...')

class Audi(Car):
    @staticmethod
    def electricPower():
        print('100kW')

my_car = Audi(speed=70, color='red')
# my_car.speed
my_car.electricPower()

In [ ]:
# how to delete all spaces from a string
a = 'My name is Ehsan Moradi'
''.join(a.split(' '))

In [ ]:
import re
re.sub('\s+', '', a)

In [ ]:
lst = a.split(' ')
lst

In [ ]:
# use of enumerate
for index, word in enumerate(lst):
    print(index, word)

In [ ]:
[i + 1 for i in [1, 2, 3, 4, 5]]

In [ ]:
# use of ternary operator

a = 8
# if a > 10:
#     print('yes')
# else:
#     print('no')

print('yes' if a > 10 else 'no')

In [ ]:
# whether the string only contains numbers
text = '123an'
text.isnumeric()

In [ ]:
# wether the string only contains characters
text = '12ehsan'
text.isalpha()

In [ ]:
# check if string contains only numbers and characters (not signs)
text = 'ehsan123@'
text.isalnum()

In [ ]:
dic = {'name': 'ehsan', 'age': 15}
# list(dic.items())
# list(dic.keys())
list(dic.values())

In [ ]:
string = 'Ehsan is a good Python programmer'
string.upper()
string.lower()

In [ ]:
# remove takes out the element by its value
lst = [1, 2, 3, 4, 5]
lst.remove(2)
lst

In [ ]:
# pop removes based on index
lst = [1, 2, 3, 4, 5]
lst.pop(3)
lst

In [ ]:
text = 'ehsan'
list(text)

In [ ]:
try:
    val = 10 + 'A'
except:
    val = 10
finally:
    print('done!')

In [ ]:
try:
    pass
except error:
    print(f'${error} is raised!)

In [ ]:
try:
    pass
except KeyboardInterrupt:
    print('process interrupted by keyboard!')

In [ ]:
import pandas as pd

In [ ]:
# create an empty dataframe
df = pd.DataFrame()
type(df)

In [ ]:
# different ways of creating a dataframe
lst = ['ehsan', 'elham', 'John']
df = pd.DataFrame(lst, columns=['name'])
df

In [ ]:
dic = {'name': ['ehsan', 'elham', 'john'], 'age': [10, 20, 25]}
df = pd.DataFrame(dic)
df

In [ ]:
df.rename(columns={'name': 'title'}, inplace=True)
df

In [ ]:
df.rename({0: 5}, inplace=True)
df

In [ ]:
df.reset_index()

In [ ]:
df = df.append({'name': 'Andy', 'age': None}, ignore_index=True)
df

In [ ]:
df.dropna(inplace=True)
df

In [ ]:
df.drop_duplicates(inplace=True)
df

In [ ]:
df.drop(3)

In [ ]:
df = pd.read_csv('path to a csv or any type of delimited file')
df = pd.read_excel('path')

In [ ]:
# create a series using dict
dic = {'name': 'ehsan', 'age': 15, 'sex': 'male'}
ser = pd.Series(dic)
type(ser)

In [ ]:
ser2 = ser.copy(deep=True)
ser2

In [ ]:
for index, row in df.iterrows():
    print(row['name'])

In [ ]:
df.to_excel('test.xlsx')

In [ ]:
df = pd.read_csv('sample.csv')
df.head()

In [ ]:
df.plot(x='admission_id', y='result_value')

In [ ]:
df.groupby(['test_name'])['result_value'].agg([min, max])

In [ ]:
df.groupby(['test_name'])['result_value'].sum()

In [64]:
import numpy as np
a = np.array([1, 2, 3, 4, 5])
np.percentile(a, 75)

4.0