In [1]:
import pandas as pd
import numpy as np

In [15]:
df = pd.read_csv('test_data.csv')

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 5 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   transaction_date  100000 non-null  object
 1   property_id       100000 non-null  int64
 2   property_type     100000 non-null  object
 3   region            100000 non-null  object
 4   price             100000 non-null  float64
dtypes: float64(1), int64(1), object(3)
memory usage: 3.8+ MB

In [16]:
df.head()

,transaction_date,property_id,property_type,region,price
0,2020-01-01,512624,Condo,Metro Vancouver,812353.75
1,2020-01-01,499817,Condo,Nanaimo,261333.66
2,2020-01-01,388958,Townhouse,Central Okanagan,744377.10
3,2020-01-01,708544,Townhorse,Nanaimo,555737.79
4,2020-01-01,227012,Single Family Dwelling,Metro Vancouver,1186354.04

In [17]:
dfs = df[df.groupby(['property_id'])['property_id'].transform('size') > 1]

In [18]:
dfs.head()

,transaction_date,property_id,property_type,region,price
10,2020-01-01,420865,Townhouse,Capital,712456.60
11,2020-01-01,359351,Condo,Thompson-Nicola,380369.43
15,2020-01-01,493031,Single Family Dwelling,Metro Vancouver,1167963.48
19,2020-01-01,329125,Townhouse,Metro Vancouver,927680.61
23,2020-01-01,769720,Condo,Metro Vancouver,827128.99

In [23]:
dfs[dfs['property_id'] == 769720]

     transaction_date  property_id property_type           region      price
23         2020-01-01       769720         Condo  Metro Vancouver  827128.99
6634       2020-09-04       769720         Condo  Metro Vancouver  857886.91

In [24]:
df[df['property_id'] == 769720]

     transaction_date  property_id property_type           region      price
23         2020-01-01       769720         Condo  Metro Vancouver  827128.99
6634       2020-09-04       769720         Condo  Metro Vancouver  857886.91